@import "../../utilites/variables.scss";

.postCard {
    border: 2px solid $secondary-color;
    border-radius: 0.2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    background: $primary-color;
    background: linear-gradient(124deg, rgb(20, 20, 20) 0%, rgb(30, 30, 30) 100%);
    transition: all 0.3s ease-in-out;
    .postCard__body {
        cursor: pointer;
        .postCard__user {
            display: flex;
            align-items: center;
            p {
               border: 2px solid $secondary-color;
               border-radius: 50%;
               padding: 0.1rem 1rem;
               font-family: $accent-font;
               font-size: 2rem;
               background-color: rgb(9, 29, 4);
               color: $secondary-color; 
               box-shadow: 0px 0px 150px $secondary-color;
            }
            h6 {
                color: $font-color;
                font-family: $main-font;
                font-size: 1.2rem;
                margin-left: 0.5rem;
                opacity: 0.3;
                text-shadow: 0px 0px 10px $primary-color;
            }
        }
        .postCard__title {
            color: $font-color;
            margin-top: 0.5rem;
            h3 {
                font-family: $accent-font;
                letter-spacing: 0.05rem;
                font-size: 1.8rem;
                text-decoration: underline;
            }
        }
    
        .postCard__text {
            color: $font-color;
            p {
               margin-top: 0.3rem;
               font-family: $main-font;
               line-height: 1.5; 
               font-size: 1.1rem;
            }
    }
    
    }
    .postCard__footer {
        .postCard__textPostDate {
            opacity: 0.3;
            font-family: $accent-font;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
            color: $font-color;
        }
        .postCard__footerStats {
            color: $font-color;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-family: $accent-font;
            width: 100%;
            .postCard__footerStatsLikes {
                margin-right: 1rem;
                i {
                    cursor: pointer;
                    margin: 0 0.5rem;
                    opacity: 0.8;
                    &.unlikeBtn {
                        color: $secondary-color;
                        opacity: 1;
                        text-shadow: 0px 0px 12px $secondary-color;
                    }
                    &.likeBtn {
                        color: $font-color;
                        opacity: 0.8;
                    }
                }
                // span {
                // }
            }
            .postCard__footerStatsComments {
                display: flex;
                align-items: center;
                i {
                    cursor: pointer;
                    margin: 0 0.5rem;
                    opacity: 0.8;
                    
                    span {
                        font-family: $accent-font;
                        font-size: 1.2rem;
                        margin-left: 0.2rem;
                    }
                }
                
            }
            
        }
        .postCard__footerDivider {
            border: 2px solid $secondary-color;
            border-radius: 1rem;
            // width: 10%;
            opacity: 0.3;
            margin-bottom: 0.5rem;
        }
    }
    &:hover {
        box-shadow: 0px 0px 10px $secondary-color;
        transform: scale(1.01);
    }

}