$primary-color: rgb(0, 7, 2);
$secondary-color: rgb(197, 255, 197);
$secondary-color-shadow : rgb(48, 104, 53);
$secondary-color-overlay : rgb(0, 17, 2);
$font-color: rgb(253, 253, 253);
$error-message-color: rgb(218, 62, 62);

$main-font: "Mukta", sans-serif;
$accent-font: "Oswald", serif;