@import "../../utilites/variables.scss";

.commentCard {
    border: 1px solid $secondary-color;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    
    p {
        color: $font-color;
        font-family: $main-font;
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}